RewriteEngine On
RewriteBase /BrocAtypic/public/

# Redirige les requêtes non liées à un fichier ou dossier vers index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]
